<div class="page">

  <div *ngFor="let category of projects" class="category">
    <h1 class="title"> {{ category[0].category | translate }}</h1>
    <div class="wrap">
      <div class="tile" *ngFor="let project of category" (click)="onClick(project)">
        <img
          class="background"
          alt="{{ project.title | translate }}"
          ngSrc="assets/image/{{project.image}}" fill/>
        <div class="text">
          <h2 class="animate-text"> {{ project.title | translate }}</h2>
          <p class="animate-text"> {{ project.description | translate }}</p>
        </div>
        <div class="icons animate-text">
          <img
            *ngFor="let stack of project.stacks"
            class="icon"
            alt="icon {{stack}}"
            ngSrc="assets/icons/{{stack}}.ico" fill/>
        </div>
      </div>
    </div>
  </div>

</div>
