/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #222222;
  color: white;
}

.bar {
  height: 5lvh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page {
  min-height: 90lvh;
}

h1 {
  margin: 0;
}
